*{
	margin:0; 
	padding:0;
	border:0; 
	background:none;
}
body{
	font-family:"微软雅黑";
	font-size:16px;
}
.head{
	width:980px;
	height:80px;
	margin:0 auto ;
	position: relative ;
}
.logo{
 	position: absolute ;
	left: 0px;
 	top: 10px;
}
.login{
	position: absolute;
	right: 0px;
 	top: 20px;
 	color: sandybrown;
	cursor: pointer;  /*光标的形状*/
	font-size:  20px;
}
.nav{
	width: 100%;
	height: 120px;
	background: sandybrown;
}
.nav_in{
	width: 980px;
	margin:0 auto ;
	line-height:20px ;
	color: black;
	padding-left: 200px;
}
.nav_in span{
	float: left ;
	padding: 50px;
	color: black;
	cursor: pointer;
}
.banner {
	text-align:  center;
}
.banner img{
	width: 100%;
}
.list{
	width: 100%;
	height: 180px;
	background: burlywood;
}
.list .list_in{
	width: 980px;
	height: 100px;
	margin: 0 auto;
	padding: 15px;
}
.list .list_in div{
	float: left ;
	width: 150px;
	height: 136px;
	padding-top: 100px ;
	margin-right: 45px ;
	background: no-repeat ;
	text-align: center ;
	color: brown;
}
.list .list_in .list1{background: url(../img/list1.png);background-repeat: no-repeat;}
.list .list_in .list2{background: url(../img/list2.png);background-repeat: no-repeat;}
.list .list_in .list3{background:  url(../img/list3.png);background-repeat: no-repeat;}
.list .list_in .list4{background: url(../img/list4.png);background-repeat: no-repeat;}
.list .list_in .list5{background: url(../img/list5.png);background-repeat: no-repeat;}
.content{
	width: 100%;
	height: 550px;
	background: lemonchiffon ;
}
.con{
	width: 660px;
	height: 360px;
	margin: 0 auto;
	padding: 10px;
}
.con .con_type{
	width: 140px;
	height: 180px;
	border: 1px solid whitesmoke;
	float:  left;
	background:  white;
	margin:  10px;
	font-size: 10px;
	color: brown;
}
.con .con_type span{
	display:  inline;
	padding: 10px; 
}
.con .con_type span.con_name{color: pink}
.con .con_type span b{
	font-weight: 10px ;
	color: darksalmon ;
}
.con .con_type img{
	margin: 10px;
	width: 120px;
	height: 100px;
}
.footer{
	position:  relative;
	top: 0px;
	width: 100%;
	height: 100px;
	background: url(../img/footer.png) repeat-x;
	text-align:  center;
	line-height: 100px ;
	color: white;
	font-size: 20px ;
}
